<a href="https://colab.research.google.com/github/francesca03-lab/python/blob/main/manipolazione_stringa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
nome = "Francesca Pia"
cognome = "Fimiani"
print(nome + " " + cognome)

Francesca Pia Fimiani

In [6]:
#Utilizzare la formattazione delle stringhe per ottenere "Il numero è: 42".
numero = 42
stringa = f"Il numero è: {numero}"
print(stringa)

Il numero è: 42

In [10]:
#Utilizzare la formattazione delle stringhe per ottenere "Il numero binario di 42 è 0b101010". Per il binario utilizzare bin(numero)
numero1 = int(input("Inserisci un numero: "))
print(f"{bin(numero1)}")

Inserisci un numero: 42
0b101010

In [13]:
#Partendo dalla variabile "numero" uguale a 5, utilizzare le f-strings (interpolazione) per ottenere "Il quadrato di 5 è 25"
num = int(input("Inserisci un numero : "))
print(f"Il quadrato di {num} è {num ** 2}")

Inserisci un numero : 5
Il quadrato di 5 è 25

In [14]:
import numpy as np
num = 5
print(f"Il quadrato di {num} è {np.square(num)}")

Il quadrato di 5 è 25

In [16]:
#Partendo da "nome" e "cognome" utilizzare la formattazione strighe per ottenere "Il mio nome è {nome} ed il cognome è {cognome}". Come da esempio dovete fare riferimento al nome delle variabili e non alla posizione usata dentro format.
#Partendo da "nome" e "cognome" utilizzare la formattazione strighe per ottenere "Il mio nome è {nome} ed il cognome è {cognome}". Come da esempio dovete fare riferimento al nome delle variabili e non alla posizione usata dentro format.
nome = input("Inserisci il tuo nome : ")
cognome = input("Inserisci il tuo cognome : ")
print(f"Ti chiami {nome} {cognome}")

Inserisci il tuo nome : Francesca Pia
Inserisci il tuo cognome : Fimiani
Ti chiami Francesca Pia Fimiani

In [20]:
#Facendo riferimento all'esercizio precedente ottenere il seguente risultato modificando i valori nel format(): "Il mio nome è LUCA ed il cognome è RoKKi"
#Facendo riferimento all'esercizio precedente ottenere il seguente risultato modificando i valori nel format(): "Il mio nome è LUCA ed il cognome è RoKKi"
nome = "Francesca"
cognome = "Fimiani"
cognome2 = cognome.replace("Fimiani", "RoKKi")
print(f"Ti chiami {nome} {cognome2}")

Ti chiami Francesca RoKKi

In [2]:
#Creare una lista vuota assegnarla a una variabilee stamparla.
lista = []
print(lista)

[]

In [3]:
#Creare una lista di numeri interi da 1 a 5 e assegnarla a una variabile e stamparla.
numeri = [1, 2, 3, 4, 5]
print(numeri)

[1, 2, 3, 4, 5]

In [4]:
#Accedere all'elemento con indice 2 della lista precedente.
print(numeri[2])

3

In [5]:
#Aggiungere un nuovo elemento "6" alla lista precedente.
numeri.append(6)
print(numeri)

[1, 2, 3, 4, 5, 6]

In [6]:
#Rimuovere l'elemento con indice 3 dalla lista precedente.
numeri.remove(4)
print(numeri)

[1, 2, 3, 5, 6]

In [9]:
#Creare una nuova lista che contenga solo i primi tre elementi della lista precedente.
lista_nuova = numeri[2:5] # Assuming lista_precedente is defined elsewhere
print(lista_nuova)

[3, 5, 6]

In [12]:
#Creare una nuova lista che contenga gli elementi con indici dispari della lista precedente
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lista_nuova = lista[1::2]
print(lista_nuova)

[2, 4, 6, 8, 10]

In [13]:
#Contare quante volte l'elemento "2" appare nella lista precedente.
lista = [1, 2, 3, 2, 4, 2, 5, 2, 7, 8, 2, 1, 2,]
lista_nuova = lista.count(2)
print(lista_nuova)

6

In [14]:
#Creare un dizionario con le seguenti chiavi e valori: "nome" : "Mario", "cognome" : "Rossi", "età" : 30.
dizionario = {
    "nome": "Mario",
    "cognome": "Rossi",
    "età": 30
}

print(dizionario)

{'nome': 'Mario', 'cognome': 'Rossi', 'età': 30}

In [17]:
#Esercizio 4 Aggiungere un nuovo elemento "email" con valore "mario.rossi@email.com" al dizionario precedente.
dizionario["email"] = "mario.rossi@email.com"
print(dizionario)

{'nome': 'Mario', 'cognome': 'Rossi', 'età': 30, 'email': 'mario.rossi@email.com'}

In [18]:
#Rimuovere l'elemento con chiave "cognome" dal dizionario precedente.
del dizionario ["cognome"]
print(dizionario)

{'nome': 'Mario', 'età': 30, 'email': 'mario.rossi@email.com'}

In [19]:
#Creare una nuova lista che contenga solo le chiavi del dizionario precedente.
dizionario = {
    "nome": "Mario",
    "cognome": "Rossi",
    "età": 30
}
lista_chiavi = list(dizionario.keys())
print(lista_chiavi)

['nome', 'cognome', 'età']

In [20]:
#Creare una nuova lista che contenga solo i valori del dizionario preceden
dizionario = {
    "nome": "Mario",
    "cognome": "Rossi",
    "età": 30
}
lista_valori = list(dizionario.values())
print(lista_valori)

['Mario', 'Rossi', 30]