<a href="https://colab.research.google.com/github/francesca03-lab/python/blob/main/tupla.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Esercizio 1
#Creare una tupla vuota e assegnarla a una variabile.
tupla = ()
print(tupla)

()

In [2]:
#Creare una tupla con i seguenti elementi: "mela", "kiwi", "lampone"
tupla = ("mela", "kiwi", "lampone")
print(tupla)

('mela', 'kiwi', 'lampone')

In [3]:
#Accedere all'elemento "kiwi" della tupla precedente
print(tupla[1])

kiwi

In [4]:
#Creare una nuova tupla che contenga solo i primi due elementi della tupla precedente.
tupla2 = tupla [0:2]
print(tupla2)

('mela', 'kiwi')

In [7]:
#Verificare se l'elemento "ananas" è presente nella tupla precedente
if "ananas" in tupla:
    print("ananas è presente nella tupla")
else:
    print("Non è presente")

Non è presente

In [9]:
#Creare una nuova tupla concatenando la tupla precedente con la tupla ("pesca", "arancia").
tupla3 = tupla + ("pesca", "arancia")
print(tupla3)

('mela', 'kiwi', 'lampone', 'pesca', 'arancia')

In [11]:
#Creare una tupla contenente i numeri interi da 1 a 5.
tupla = (1,2,3,4,5)
print(tupla)

(1, 2, 3, 4, 5)

In [12]:
#Creare una tupla contenente il quadrato dei numeri interi da 1 a 5.
quadrati = tuple(numero ** 2 for numero in range(1, 6))
print(quadrati)

(1, 4, 9, 16, 25)